@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: honeydew;
}

.date{
  padding: 10px 0px;
}

#todoForm{
 display: flex;
 flex-direction: row;
 justify-content: center;
 /* background-color: red; */
}

#todoInput{
  width:50%;
  height: 30px;
  border-radius: 5%;
  margin: 0px 10px;
}
#addTodoBtn{
  width: fit-content;
  padding: 0px 10px;
  border-radius: 10%;
}

#todoList, #editTodo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0px 0px 0px;
}
input[type="checkbox"]{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#todoname{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  width: 50%;
  /* background-color: yellow; */
}
#editBtn{
  width: fit-content;
  height: 35px;
  padding: 0px 10px;
  border-radius: 10%;
  margin: 0px 10px;
}
#deleteBtn{
  width: fit-content;
  height: 35px;
  padding: 0px 10px;
  border-radius: 10%;
}
#editedtodo{
  width:50%;
  height: 30px;
  font-size: 2rem;
  border-radius: 5%;
}
#saveBtn{
  width: fit-content;
  height: 30px;
  padding: 0px 10px;
  border-radius: 10%;
  margin: 0px 10px;
}
#cancelBtn{
  width: fit-content;
  height: 30px;
  padding: 0px 10px;
  border-radius: 10%;

}
#todoscounter{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px 0px 5px 0px;
}
#todoscounter p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.8rem;
  font-weight: 500;
}
@media (max-width:470px){
  #todoInput{
  width: 70%;
  }
}
